* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background: url("/assets/bg.jpg") no-repeat;
}

.title {
  font-size: 1rem;
  margin-top: 2rem;
  color: #333;
}

.all-btn {
  width: 70%;
  text-align: center;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.continent {
  padding: 1rem;
}

.btn-continent {
  padding: 10px 30px;
  background-color: #017a47;
  color: white;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(245, 222, 179, 0);
  border-radius: 5px;
  cursor: pointer;
  flex-wrap: wrap;
}

.btn-continent:hover {
  background-color: rgba(255, 255, 255, 0.547);
  color: #017a47;
  border: 1px solid #017a47;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

button {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.66);
  border: 2px solid #017a47;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.1rem;
  cursor: pointer;
}

button:hover {
  background-color: #017a47;
  color: white;
  border: 2px solid #017a47;
}

span {
  color: #333;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .btn-continent {
    font-size: 0.8rem;
    padding: 7px 7px;
    background-color: rgba(255, 217, 0, 0.009);
    color: #017a47;
    border: 1px solid #017a47;
    border-radius: 5px;
  }

  .btn-continent:hover {
    background-color: rgba(255, 255, 255, 0.547);
    color: #017a47;
    border: 1px solid #017a47;
  }

  button {
    font-size: 0.7rem;
    padding: 7px 7px;
    border: 1.5px solid #017a47;
  }

  .all-btn {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  body .chart {
    padding: 0rem 5%;
  }

  body #myChart {
    padding: 0.2rem;
  }

  span {
    font-weight: 600;
    font-size: 0.8rem;
    /* display: flex; */
  }
}

@media (min-width: 901px) {
  body #myChart {
    padding: 1rem;
  }
}
